@import "src/App";

.dropbtn {
  width: 160px;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  box-shadow: $boxShadow;
  z-index: 1;
}

.dropdownContent div {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 20px;
  font-size: 16px;
  color: black;
  padding: 12px 16px;
}

.dropdownContent div:hover {background-color: #ddd}

.active {display:block;}